@import url(./fields/index.css);

body {
  background-color: var(--shape-bg);
}

#App {
  display: grid;
  grid-template-columns: 70rem 1fr;

  height: 100%;
  padding: 2rem;
  overflow: hidden;
  gap: 2rem;
}

aside {
  background-color: var(--shape-body);
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;

  & header {
    flex-direction: column;
    padding: 3.2rem;
    gap: 1.6rem;
    align-items: flex-start;
    text-align: left;
    img {
      width: 9rem;
    }
  }
  & .aside-text {
    flex-direction: column;
    gap: 0.4rem;

    & h1 {
      font: var(--logo2);
      color: var(--text-head);
    }

    & p {
      font: var(--body-md-regular);
      color: var(--text-head);
      font-weight: 300;
    }

    & strong {
      text-decoration: underline;
    }
  }

  & .aside-image {
    width: 100%;
    height: 80rem;
    & img {
      height: 95%;
      width: 100%;
      border-radius: 1.2rem;
    }
  }
}

main {
  flex-direction: column;
  align-items: center;
  background-color: var(--shape-body);
  border-radius: 1.2rem;
  height: 100%;
  & .main-container {
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 5rem;

    & .header {
      display: flex;
      gap: 1.2rem;
      align-items: flex-start;
      width: 66rem;
      justify-content: start;
      margin-left: -1.5rem;
      & img {
        width: 4rem;
      }
      & h2 {
        color: var(--text-head);
        font: var(--heading-md);
      }
    }
  }
}


